.heading {
    margin-top: -50px;
}

.cards {
    margin: 100px;
}

body {
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    min-height: 97vh;
}